<?xml version="1.0" encoding="UTF-8"?>
<Configuration>

  <Appenders>

    <!-- Console logger -->
    <Console name="Console" target="SYSTEM_OUT">
      <PatternLayout>
        <Pattern>%d{yyyy-MM-dd HH:mm:ss} %5p %pid --- [%t] %c : %msg%n%throwable</Pattern>
      </PatternLayout>
    </Console>

    <!-- File rotation logger -->
    <RollingFile fileName="/circe/circe.log" filePattern="/circe/archives/$${date:yyyy-ww}/circe/logs-%d{yyyy-MM-dd}.log.zip"
      name="RollingFile">
      <DefaultRolloverStrategy max="365"/>
      <PatternLayout>
        <Pattern>%d{yyyy-MM-dd HH:mm:ss} %5p %pid --- [%t] %c : %msg%n%throwable</Pattern>
      </PatternLayout>
      <!-- Maximum number of rollover files (1 year) -->
      <Policies>
        <!-- Log rotation everyday -->
        <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
      </Policies>
    </RollingFile>

  </Appenders>

  <Loggers>

    <root level="info">
      <appender-ref ref="Console"/>
      <appender-ref level="warn" ref="RollingFile"/>
    </root>

  </Loggers>

  <properties>

    <!-- Log location (don't put a dash at the end) -->
    <property name="filepath">/circe</property>

    <property name="filename">circe.log</property>

    <!-- Logging output pattern -->
    <property name="pattern">%d{yyyy-MM-dd HH:mm:ss} %5p %pid --- [%t] %c : %msg%n%throwable
    </property>

    <!-- Time frame for rollover folders; Possible values [yyyy-ww (week) | yyyy-MM-dd (day) | yyyy-MM (month)] -->
    <property name="rolloverunit">yyyy-ww</property>

  </properties>

</Configuration>
